{% extends "base.html" %}

{% block title %} Lista de Produtos {% endblock title %}

{% block titulo_pagina %} Listagem de Produtos {% endblock titulo_pagina %}

{% block content %}

<button onclick="location.href='{% url "produtoform"%}'" class="btn btn-primary mb-3" type="button">Adicionar Produto</button>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td> {{item.id}}</td>
                <td> {{item.nome}}</td>
                <td>{{item.preco}}</td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

{% endblock %}